Source: slideshow
Section: graphics
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Homepage: https://www.uni-due.de/~be0001/slideshow/
Build-Depends: cmake (>= 3.0.2) | cmake3,
               debhelper (>= 9),
               graphicsmagick-libmagick-dev-compat,
               libfile-fcntllock-perl,
               libgraphicsmagick-dev,
               libwebp-dev
Rules-Requires-Root: no
Standards-Version: 4.6.0.1

Package: slideshow
Architecture: any
Depends: slideshow-infrastructure  (>= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: slideshow-example (>= ${source:Version})
Description: XHTML/JavaScript Slideshow Generator
 SlideShow is a command-line tool to generate
 standards-compliant XHTML-1.1 presentations from a set of
 image files. It can be used to easily generate online photo
 albums, including JavaScript-based slideshows. Particularly,
 this program is intended to be also used in scripts, which
 automatically create or update slideshows.

Package: slideshow-infrastructure
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: SlideShow infrastructure files
 The default infrastructure files for SlideShow. These files contain
 the button images, the slideshow player frame HTML description and
 the slideshow player JavaScript program.

Package: slideshow-example
Architecture: all
Depends: slideshow,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: fractgen (>= 2.0.6)
Description: SlideShow example presentation
 An example presentation setup for SlideShow. Use the script
 demo-slideshow to generate the HTML presentation from the
 example files.
